@use "../../../themes/themes";
@use "../../common/custom-variables/font-sizes";
.gameboard--user {
  cursor: url("../../../../src/images/cursor--anchor.svg"), auto;
}

.placement--valid {
  background-color: var(--placement-valid-clr) !important; 
}

.placement--invalid {
  background-color: var(--placement-invalid-clr);
}

.placement--ship {
  background-color: var(--placed-ship-clr);
}

.user__heading {
  color: var(--background-clr);
  background-color: var(--user-clr);
  text-align: center;
  font-size: var(--heading-font-size);
}
