@use "../../../themes/themes";

.placement--valid {
  background-color: var(--placement-valid-clr) !important; 
}

.placement--invalid {
  background-color: var(--placement-invalid-clr);
}

.placement--ship {
  background-color: var(--placed-ship-clr);
}

.user__heading {
  color: var(--background-clr);
  background-color: var(--user-clr);
  width: 100%;
  text-align: center;
  margin: 0px;
  padding: 10px;
  font-size: 30px
}


@media (min-width: 600px) {
  .user__heading {
    font-size: 40px;
  }
}

@media (min-width: 1400px) {
  .user__heading {
    font-size: 180px;
  }
}

