@use "../../themes/themes";
@use "../../components/common/custom-variables/sizes";
@use "../../components/common/custom-variables/font-sizes";
@use "../common/custom-variables/mixins" as *;

.hidden {
  display: none;
}

.loc-div--placement-form {
  position: relative;
}

.div--placement-form {
  color: var(--user-clr);
  font-weight: bolder;
}

.loc-placement-form {
  position: relative;
  margin: 25px;
  padding: 5% 10%;
  border: var(--placement-form-border-width) solid var(--user-clr);
  border-radius: 15px;
  width: var(--placement-form-size);
  height: var(--placement-form-size);
}

.placement-form {
  background-color: var(--background-clr);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

/* placement form ship decoration */

.placement-form::before {
  @include placement-form-decor(bottom left);
  content: url("../../../src/images/ship--left.png");
  left: -20px;
}

/* placement form ship decoration */

.placement-form::after {
  @include placement-form-decor(bottom right);
  content: url("../../../src/images/ship--right.png");
  right: -20px;
}

.placement-form__input {
  appearance: none;
  z-index: 2;
}

.placement-form__input:checked {
  filter: brightness(0) saturate(100%) invert(90%) sepia(15%) saturate(5464%) hue-rotate(336deg) brightness(106%) contrast(108%); 
}

.placement-form__label {
  font-size: 0px;
} 

/* ship type input, responsible for the ship's length */

%input-content-shared {
  color: var(--user-clr);
  font-weight: bolder;
  font-family: "VT323", serif;
  font-size: var(--input-content-font-size);
}

#ship-5::after {
  @extend %input-content-shared;
  content: "BATTLESHIP";
}

#ship-4::after {
  @extend %input-content-shared;
  content: "SUBMARINE";
}

#ship-3::after {
  @extend %input-content-shared;
  content: "CRUISER";
}

#ship-2::after {
  @extend %input-content-shared;
  content: "DESTROYER";
}

/* direction input */

#direction-horizontal::after {
  @extend %input-content-shared;
  content: "HORIZONTAL";
}

#direction-vertical::after {
  @extend %input-content-shared;
  content: "VERTICAL";
}

/* place ship button */

.loc-placement-form__place-btn {
  padding: 5% 10%;
  border:  var(--place-btn-border-width) solid var(--user-clr);
  border-radius: 20px;
  z-index: 5;
  &:active {
    transform: scale(0.9, 0.9);
  }
}

.placement-form__place-btn {
  appearance: none;
  background-color: var(--background-clr);
  color: var(--user-clr);
  font-family: "VT323", serif;
  font-size: var(--place-btn-font-size);
  font-weight: bolder;
    &:active {
      border-color: var(--placed-ship-clr);
      color: var(--placed-ship-clr);
    }
    &:disabled {
    border-color: var(--comp-clr);
    color: var(--comp-clr);
    opacity: 0.4;
  }
}

.placement-form__legend {
  font-size: var(--legend-font-size);
}

.loc-placement-form__fieldset {
  padding: 5%;
  width: 100%;
  min-height: 100px;
  border-radius: 15px;
  border: var(--fieldset-border-width) solid var(--user-clr);
  z-index: 2;
}

.placement-form__fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

fieldset:nth-of-type(2) {
  min-height: 70px;
};


@media (min-width: 600px) {

  fieldset {
    min-height: 150px;
  }

  .placement-form::before, .placement-form::after  {
    transform: scale(0.5);
  }
}
