@use "../../themes/themes";

%game-over-notification--shared {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  border-width: 20px;
  border-style: solid;
  background-color: var(--background-clr);
  font-weight: bolder;
  padding: 20px;
  display: flex;
  flex-direction: column; 
  gap: 5px;
  align-items: center;
  justify-content: space-evenly;
}

.game-over-notification--loss {
  @extend %game-over-notification--shared;
  border-color: var(--comp-clr);
  color: var(--comp-clr); 
}


.game-over-notification--win {
  @extend %game-over-notification--shared;
  border-color: var(--user-clr);
  color: var(--user-clr); 
}

.loc-game-over-notification__heading, .loc-game-over-notification__sub-heading {
  margin: 0px;
  z-index: 2;
}

.game-over-notification__heading {
  font-size: min(40vw, 200px);
  color: var(--heading-clr);
  text-align: center;
}

.game-over-notification__sub-heading {
  font-size:  min(20vw, 100px);
  text-align: center;
  color: inherit;
  background-color: var(--background-clr);
}

.loc-game-over-notification__btn {
  padding: 5px 15px;
  z-index: 2;
  border-width: 5px;
  border-radius: 20px;
  &:active {
    transform: scale(0.9, 0.9);
  }
}

.game-over-notification__btn {
  appearance: none;
  background-color: var(--background-clr);
  font-family: "VT323", serif;
  font-weight: bolder;
  font-size: min(10vw, 30px);
  border-style: solid;
  border-color: inherit;
}
