@use "../../themes/themes";

.main__placement-form {
  border: 4px solid var(--user-clr);
  position: relative;
  box-sizing: border-box;

  border-radius: 15px;
  height: 250px;
  
}

.div--placement-form {
  background-color: var(--background-clr);
  color: var(--user-clr);
  font-weight: bolder;
  padding: 20px;
}

.placement-form__decoration-img {
  position: absolute;
  max-width: 100%;
  height: auto;
  width: 50%;
  bottom: -25%;
  z-index: 1;
  &:nth-of-type(1) {
    left: -50px;
    transform: rotate(-10deg);
  };
  &:nth-of-type(2) {
    right: -50px;
    transform: scaleX(-1) rotate(-10deg);
  };

}
.div--placement-form__decoration--background {
  position: absolute;
  width: 15%;
  height: 15%;
  border-radius: 100%;
  background-color: var(--background-clr);
  
  &:nth-of-type(1){ //top left
    bottom: 30%;
    left: -10%;
  }
  &:nth-of-type(2){ //bottom left
    bottom: -5%;
    left: 20%;
  }
  &:nth-of-type(3){ //top right
    bottom: 30%;
    right:-10%;
  }
  &:nth-of-type(4){ //bottom right
    bottom: -5%;
    right: 20%;
  }

}

.placement-form {
  display: grid;
  gap: 30px 35px;
  grid-template-columns: repeat(2, 1fr);
}

.placement-form__input {
  appearance: none;
  margin: auto;
  z-index: 2;
}

.placement-form__input:checked {
  filter: brightness(0) saturate(100%) invert(90%) sepia(15%) saturate(5464%) hue-rotate(336deg) brightness(106%) contrast(108%);
  
}

.placement-form__label {
  font-size: 0px;
} 

.placement-form__input::after {
  font-weight: bolder;
  color: var(--user-clr);
}

/* ship type input, responsible for the ship's length */

#ship-5::after {
  content: "BATTLESHIP";
  font-family: "VT323", serif;
}

#ship-4::after {
  content: "SUBMARINE";
  font-family: "VT323", serif;
}

#ship-3::after {
  content: "CRUISER";
  font-family: "VT323", serif;
}

#ship-2::after {
  content: "DESTROYER";
  font-family: "VT323", serif;
}

/* direction input */

#direction-horizontal::after {
  content: "HORIZONTAL";
  font-family: "VT323", serif;
}

#direction-vertical::after {
  content: "VERTICAL";
  font-family: "VT323", serif;
}

/* place ship button */

.placement-form__place-btn {
  grid-column: 1 /-1;
  /* 
  width: 105px;
  height: 35px; */

  margin: auto;

  border:  2px solid var(--user-clr);
  border-radius: 20px;

  &:active {
    transform: scale(0.9, 0.9);
  }
  &:disabled {
    border-color: var(--comp-clr);
    color: var(--comp-clr);
    opacity: 0.4;
  }
}

legend {
  margin: auto;

}
fieldset {
  min-height: 135px;
  border-color: var(--user-clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 15px;
  border: 3px solid var(--user-clr)

}

/* style */
.place-btn {
  padding: 5% 10%;
  appearance: none;
  font-family: "VT323", serif;

  background-color: var(--background-clr);

  color: var(--user-clr);
  font-weight: bolder;
    &:active {
      border-color: var(--placed-ship-clr);
      color: var(--placed-ship-clr);
    }
}






@media (min-width: 600px) {
  .main__placement-form {
    width: 500px;
    height: 500px;
  }

  legend {
    font-size: 40px;
  }
  #ship-5::after, #ship-4::after, #ship-3::after, #ship-2::after, #direction-vertical::after, #direction-horizontal::after {
    font-size: 40px;
  }

  .place-btn {
    font-size: 40px;
  }

  fieldset {
    min-height: 275px;

  }

}




