@use "../../../themes/themes";
@use "../../common/custom-variables/font-sizes";

.gameboard--computer {
  cursor: url("../../../../src/images/cursor--crosshair.svg"), auto;
}

.computer__heading {
    color: var(--background-clr);
    background-color: var(--comp-clr);
    text-align: center;
    font-size: var(--heading-font-size)
}


