.computer__heading {
    color: var(--background-clr);
    background-color: var(--comp-clr);
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 10px;
    font-size: 30px
}

@media (min-width: 600px) {
  .computer__heading {
    font-size: 40px;
  }
}
  
@media (min-width: 1400px) {
  .computer__heading {
    font-size: 180px;
  }
}

