
@use "./sizes";

@mixin gameboard ($color) {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: var(--gameboard-gap);
  border: var(--gameboard-border-width) solid $color;
  background-color: $color;
}

@mixin gameboard-heading ($background-color) {
  color: var(--background-clr);
  text-align: center;
  font-size: var(--heading-font-size);
  background-color: $background-color;
}

@mixin placement-form-decor($transform-origin) {
  position: absolute;
  transform: scale(0.3);
  transform-origin: $transform-origin;
  bottom: -50px;
}

@mixin body-decor($transform) {
  position: fixed;
  transform: scale(0.45);
  transform-origin: $transform;
  height: auto;
  top: 75px;
  z-index: -2;
  @media (min-width: 1600px) {
    transform: scale(2);
  }
}



