:root {
  --gameboard-size: 300px;
  --gameboard-gap: 4px;
  --gameboard-border-width: 4px;
  @media (min-width: 600px) {
    --gameboard-size: 500px;
  };
  
  @media (min-width: 1600px) {
    --gameboard-size: 2500px;
    --gameboard-gap: 15px;
    --gameboard-border-width:15px;
  }
  
}