:root {
  --user-clr: rgba(27, 117, 187, 1); //blue
  --comp-clr: rgba(190, 30, 45, 1); //red

  --hit-clr: rgba(190, 30, 45, 1); // red
  --miss-clr: rgba(27, 117, 187, 1); // blue
  --sunk-clr: rgba(128, 128, 128, 1); //gray

  --placement-valid-clr: rgba(57, 177, 100, 1);
  --placement-valid-clr--light: rgba(57, 177, 100, 0.5); //green

  --placement-invalid-clr: rgba(190, 30, 45, 1); //red

  --placed-ship-clr: rgba(255, 201, 34, 1); //yellow

  --background-clr: rgba(255, 255, 255, 1); //white
  --text-clr: rgba(255, 255, 255, 1); //white
  --heading-clr: rgba(0,0,0, 1); //black
}
