:root {
  --user-clr: rgba(27,117,187,255); //blue
  --comp-clr: rgba(190,30,45,255); //red

  --hit-clr: rgba(190,30,45,255); // red
  --miss-clr: rgba(27,117,187,255); // blue 

  --placement-valid-clr: rgba(57, 177, 100, 255); // green
  --placement-invalid-clr: rgba(190,30,45,255); //red

  --placed-ship-clr: rgba(255, 201, 34, 255); //yellow

  --background-clr: rgba(255,255,255,255); //white
  --text-color-clr: rgba(255,255,255,255); //white
}
