
@import "./themes/light.scss";
@import "./themes/dark.scss";

@import "./components/common/gameboard/gameboard-view.scss";
@import "./components/views/gameboard--user/gameboard-views--user.scss";
@import "./components/views/gameboard--computer/gameboard-views--computer.scss";

/* placement stage */
@import "./components/layout/layout--placement-stage.scss";

/* attack stage */

@import "./components/layout/layout-attack-stage";





html {
  box-sizing: border-box;
  width: 100vw;
  margin: 0px;
  padding: 0px;/* 
  overflow-x: hidden; */
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;

}


:root {
  background-color: var(--background-clr);
  font-family: "VT323", serif;

}

header{
  text-align: center;
  width: 100%;
  font-size: 24px;
  position: static;
}

main {
  width: 100%;
  border: black solid 2px;
  padding: 0px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 50px;
  
}

@media (min-width: 600px) {
  header {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  main {
    flex-direction: row;
    gap: 100px;
  }

}

@media (min-width: 1400px) {
  main {
    flex-direction: row;
    gap: 100px;
  }
  header {
    font-size: 200px;
  }  
  main {
    gap: 500px;
  }
}







