
@use "../custom-variables/font-sizes";
@use "../custom-variables/sizes";
@use "../../../themes/themes";

.loc-gameboard {
  width: var(--gameboard-size);
  height: var(--gameboard-size);
  border-width: var(--gameboard-border-width);
}

.loc-heading {
  margin: 0px;
  padding: 10px;
  width: 100%;
}

.gameboard__tile { 
  background-color: var(--background-clr);
}

.gameboard__tile--miss {
  background-color: var(--miss-clr);
}

.gameboard__tile--hit {
  background-color: var(--hit-clr) !important ; 
}

.sunk {
  background-color: var(--sunk-clr) !important ;
}
