@import "../../../themes/dark.scss";
@import "../../../themes/light.scss";

.gameboard--user, .gameboard--computer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 4px;
  width: 100%;
}

.gameboard--user {
  border: 4px solid var(--user-clr);
  background-color: var(--user-clr);
}

.gameboard--computer {
  border: 4px solid var(--comp-clr);
  background-color: var(--comp-clr);
}


.gameboard__tile { 
  width: 25px; 
  background-color: var(--background-clr);
  height: 25px;
 
}

.hidden {
  display: none;
}

.gameboard__tile--miss {
  background-color: var(--miss-clr);
}

/* .sunk::before {
  content: "";
  position: absolute;
  top: -50px;
  width: 350px;
  height:350px;
  background-color: var(--miss-clr);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 45%;
  animation: fill 2s ease-in-out;
  z-index: 1;
}
@keyframes fill {
  from {
    top:250px;
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    top:-50px;
    transform: translateX(-50%) rotate(360deg);
  }
} */

.gameboard__tile--hit {
  background-color: var(--hit-clr) !important ; 
}

.sunk {
  background-color: var(--sunk-clr) !important ;
}

@media (min-width: 600px) {
  .gameboard__tile { 
    width: 45px; 
    height: 45px;
   
  }
  


}


@media (min-width: 1200px) {
  .gameboard__tile { 
    width: 75px; 
    background-color: var(--background-clr);
    height: 75px;
  }
}

@media (min-width: 1400px) {
  .gameboard__tile { 
    width: 200px; 
    background-color: var(--background-clr);
    height: 200px;
  }
}