@import "../../../themes/dark.scss";
@import "../../../themes/light.scss";

.gameboard--user, .gameboard--computer {
  display: grid;
  grid-template-columns: repeat(10, 100px);
  gap: 4px;
  border: 4px solid var(--user-clr);
  background-color: var(--user-clr);
  width: fit-content;
}

.gameboard__tile {
  width: 100px;
  background-color: var(--background-clr);
  height: 100px;
}

.hidden {
  display: none;
}

.gameboard__tile--miss {
  background-color: var(--miss-clr);
}

.gameboard__tile--hit {
  background-color: var(--hit-clr) !important ; 
}

.sunk {
  background-color: var(--sunk-clr) !important ;
}

.placement--valid {
  border-color: purple !important; 
  background-color: var(--placement-valid-clr) !important;
}

.placement--invalid {
  background-color: var(--placement-invalid-clr);
}

.placement--ship {
  background-color: var(--placed-ship-clr);
}
